body{
  background:#0d1117;
  color:white;
  text-align:center;
  font-family:Arial,sans-serif;
  padding-top:100px;
}

button{
  background:#00c853;
  color:white;
  border:none;
  padding:12px 24px;
  border-radius:10px;
}
